{
  "extends": ["stylelint-config-prettier-scss"],
  "semi": false,
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false,
        "printWidth": 100,
        "trailingComma": "none"
      }
    }
  ]
}
