.slideInLeft {
  animation-name: slide-in-left;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.slideInDown {
  animation-name: slide-in-down;
  animation-duration: 1s;
  animation-fill-mode: both;
}