.slideInLeft {
  animation-name: slide-in-left;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.slideInDown {
  animation-name: slide-in-down;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInUp {
  animation-name: fade-in-up;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.zoomIn {
  animation-name: zoom-in;
  animation-duration: 1s;
  animation-fill-mode: both;
}