@use '../../styles/animations.scss';

.cards-pros-container {
  display: flex;
  gap: 24px;

  padding: 0 12px;

  .card-pros {
    @extend .fadeInUp;

    // each card will have a different delay of 0.2s from first to last
    // e.g. 0.1s, 0.3s, 0.5s, 0.7s ...
    $numCards: 4;

    @for $i from 1 through $numCards {
      &:nth-child(#{$i}) {
        animation-delay: #{0.1 + (0.2 * ($i - 1))}s;
      }
    }
  }
}