@use "../../styles/functions.scss" as f;
@use "../../styles/variables.scss" as v;

.navbar {
  background-color: v.$dark;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: f.pxToRem(8);
  padding-bottom: f.pxToRem(8);

  &-toggler {
    color: rgba(white, 0.55);
    background-color: transparent;
    border: 1px solid rgba(white, 0.1);
    border-radius: 2px;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    transition: box-shadow 0.15s ease-in-out;
  }

  &-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 25px;

    &__container {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      &:not(.show) {
        display: none;
      }
    }
  }

  &-item {}

  &-link {
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Heebo';

    padding: 35px 0;

    transition: .5s;

    &.active {
      color: v.$primary;
    }
  }

  .dropdown {
    position: relative;

    &.active {

      >.navbar-link {
        color: v.$primary;
      }

      .navbar-link.active {
        background-color: v.$primary;
        color: v.$white;
      }
    }

    &-toggle {
      &::after {
        display: inline-block;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
      }
    }

    &-menu {
      display: none;
      height: fit-content;
      width: fit-content;
      min-width: f.pxToRem(160);
      flex-direction: column;
      background-color: v.$white;

      .navbar-link {
        color: #212529;
        padding: f.pxToRem(4) f.pxToRem(16);
        font-weight: 400;

        &:hover,
        &:focus {
          color: #1e2125;
          background-color: #e9ecef;
        }
      }
    }
  }
}

.navbar-item.navbar-link,
.navbar-item>.navbar-link {
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .navbar {
    background-color: unset;
    flex-wrap: nowrap;
    justify-content: flex-start;

    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: transparent;

    &.fixed {
      position: fixed;
      top: 0;
      background-color: v.$dark;

      .navbar-link {
        padding: f.pxToRem(20) 0 !important;
      }
    }

    &-toggler {
      display: none;
    }

    &-links {
      flex-direction: row;

      &__container {
        display: flex !important;
      }
    }

    .dropdown {

      &-toggle {
        &::after {}
      }

      &-menu {}

      &:hover .dropdown-menu {
        display: flex;
      }

      .dropdown-menu {
        position: absolute;
      }
    }
  }
}