@use "../../styles/functions.scss" as f;

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: f.pxToRem(8);
  padding-bottom: f.pxToRem(8);

  &-toggler {
    visibility: hidden;
  }
}

@media (min-width: 992px) {
  .navbar {
    flex-wrap: nowrap;
    justify-content: flex-start;

    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: transparent !important;
  }
}